.popup-window__save-button {
  height: 50px;
  margin: 18px 0 37px;
  padding: 0;
  box-sizing: border-box;

  color: #fff;
  background-color: #000;
  border-radius: 2px;

  cursor: pointer;

  transition: opacity .4s ease;
}

.popup-window__save-button:hover {
  opacity: 0.8;
}


@media screen and (max-width: 600px) {
  .popup-window__save-button {
    margin: 16px 0 25px;
  }
}
